#clock {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    width: 400px;
    margin: 200px auto  200px auto;
    background-color: blue;
    color: white;
    border-radius: 10px;
    box-shadow:  0 10px 15px red;
}
