.Home p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Home h2,p{
    text-align: center;
}

/* home media/responsive */
/* @media(max-width:900px){
    .Home h2{
        font-size: 22px;
    }
    .Home p{
        font-size: 25px;
    }
} */

